*.idea
*.vscode
*.ipynb
*.zip

Data_preprocessing/
!Data_preprocessing/readme.txt

*/__pycache__/
*/*/__pycache__/
*/checkpoints/
*/runs/

*/models/*.pth
*/sample/*
# ignore script file
!*/script/ls_running.sh
!*/script/kill_exp.sh
*/script/train/
*/script/eval/

landmark/
Body/
